<p>
  <b>Name:</b>
  <%=h @computer.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @computer.description %>
</p>


<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
